.display {
  font-style: italic;
  font-size: $fz-title-sm;

  padding: 16px;

  color: $neutral-off-black;

  h1 {
    display: flex;
    flex-wrap: nowrap;
    gap: .2em;
    font-weight: 800;

    &::selection {
      background: $primary-color;
      color: $neutral-white;
    }
  }

  span {
    color: $primary-color;
    font-weight: 800;

    &::selection {
      background: $primary-color;
      color: $neutral-white;
    }
  }

  @media (min-width: 600px) {
    font-size: $fz-title;
  }
}
