.divider {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;

  img {
    position: absolute;
    align-self: center;
  
    background-color: $primary-color;
    object-fit: scale-down;
  
    width: 2rem;
    height: 2rem;
    padding: 18px;
  
    border-radius: 2rem;

    &::selection {
      background: $primary-color;
      color: $neutral-white;
    }
  }

  hr {
    border: 1px solid $neutral-gray;
  }

  @media (min-width: 992px) {
    img {
      align-self: flex-end;

      width: 2.3rem;
      height: 2.3rem;
    }
  }
  
  @media (min-width: 1200px) {
    img {
      width: 3rem;
      height: 3rem;
    }
  }
}
