@import "variables";
@import "divider";
@import "input";
@import "display";
@import "error-display";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: $neutral-off-white;

  font-family: inherit;
  font-size: $fz-input;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 26px;

  width: 100vw;
  height: 100vh;
}

.calculator-container {
  background-color: $neutral-white;
  border-radius: 32px;
  border-bottom-right-radius: 128px;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 32px 20px;

  overflow: hidden;

  width: auto;
}

.inputs-container {
  display: flex;
  gap: 16px;

  margin-bottom: -40px;
}

footer {
  position: absolute;
  bottom: 0;

  background-color: $neutral-white;
  left: 0;
  width: 100vw;
  padding: 5px 8px;

  display: flex;
  justify-content: flex-end;

  font-size: 12px;
}

@media (min-width: 600px) {
  footer {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .calculator-container {
    gap: 1.3rem;

    padding: 32px 58px;
    padding-bottom: 12px;

    width: 70%;
  }

  .inputs-container {
    gap: 32px;
  }
}

@media (min-width: 1200px) {
  .calculator-container {
    width: 60%;
  }
}
