// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

$fz-input: 32px;
$fz-label: 16px;
$fz-title: 48px;
$fz-input-sm: 20px;
$fz-label-sm: 14px;
$fz-title-sm: 30px;

$primary-color: #854dff;
$secondary-color: #ff5757;
$neutral-white: #ffffff;
$neutral-off-white: #f0f0f0;
$neutral-gray: #dbdbdb;
$neutral-smokey-gray: #716f6f;
$neutral-off-black: #141414;