$fz-input: 26px;
$fz-label: 15px;
$fz-error: 10px;
$fz-title: 39px;

$fz-input-sm: 20px;
$fz-label-sm: 14px;
$fz-error-sm: 8px;
$fz-title-sm: 30px;

$primary-color: #854dff;
$secondary-color: #ff5757;
$neutral-white: #ffffff;
$neutral-off-white: #f0f0f0;
$neutral-gray: #dbdbdb;
$neutral-smokey-gray: #716f6f;
$neutral-off-black: #141414;